<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### This notebook contains a description of data science tools and methodology.

### Some of the popular languages that Data Scientists use are:
###    1. Python
###    2. R lang
###    3. c++
###    4. julia

### Some of the commonly used libraries used by Data Scientists include:
### 1. TensorFlow
### 2. NumPy
### 3. Pandas
### 4.Pandas
### 5.Matplotlib
### 6.keras

| Data Science Tools |
| --- |
| Apache Spark |
| jupyter notebook |
| R studio |
| Zeppelin Notebooks |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
a = 3
b = 4
c = 5
#This a simple arithmetic expression to mutiply then add integers
print((a*b)+c)

17

In [4]:
timeInMin = 200
#This will convert 200 minutes to hours by diving by 60
print(timeInMin /60)

3.3333333333333335

**Objectives:**
- popular language use in data science
- most popular libraries in python
- Tools use for data science
- arithmetic functions in python

## Author
Saransh Rayguru